$lastdiag
$rij
$ricore    100
$maxcor    400 MiB  per_core
$dft
 functional b3-lyp
 gridsize m3
 weight derivatives
$subtitle
SP,DFT+Disp/RI,charge 0,c1,def-TZVP,FREQ
$scfiterlimit    100
$coord    file=coord
$jbas    file=auxbasis
$disp4
$scfconv    6
$grad    file=gradient
$optimize
 internal off
 redundant off
 cartesian on
 global off
$symmetry    c1
$tmole
$basis    file=basis
$scfmo   file=mos
$title    opt_final_TAT_peptide_fragment_YGRKKK_6_aa_46
$atoms
o 8,12,16,18,29,38,47,56-57 \
   jbas = o def-TZVP                     \
   basis = o def-TZVP
n 1,13,19,24,26-27,30,36,39,45,48,54 \
   jbas = n def-TZVP                     \
   basis = n def-TZVP
h 58-121 \
   jbas = h def-TZVP                     \
   basis = h def-TZVP
c 2-7,9-11,14-15,17,20-23,25,28,31-35,37,40-44,46,49-53,55 \
   jbas = c def-TZVP                     \
   basis = c def-TZVP
$marij
$scfdamp     start=0.700 step=0.050 min=0.100
$operating system    unix
$closed shells
 a       1-218                                  ( 2 )
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$forceapprox    file=forceapprox
$rundimensions
   natoms=121
   nbf(CAO)=1524
   nbf(AO)=1467
$last step     define
$end
