$lastdiag
$rij
$ricore    100
$maxcor    400 MiB  per_core
$dft
 functional b3-lyp
 gridsize m3
 weight derivatives
$subtitle
SP,DFT+Disp/RI,charge 0,c1,def-TZVP,FREQ
$scfiterlimit    100
$coord    file=coord
$jbas    file=auxbasis
$disp4
$scfconv    6
$grad    file=gradient
$optimize
 internal off
 redundant off
 cartesian on
 global off
$symmetry    c1
$tmole
$basis    file=basis
$scfmo   file=mos
$title    opt_final_SDS_sodium_dodecyl_sulfate_4
$atoms
s 14 \
   jbas = s def-TZVP                     \
   basis = s def-TZVP
na 43 \
   jbas = na def-TZVP                     \
   basis = na def-TZVP
o 13,15-17 \
   jbas = o def-TZVP                     \
   basis = o def-TZVP
h 18-42 \
   jbas = h def-TZVP                     \
   basis = h def-TZVP
c 1-12 \
   jbas = c def-TZVP                     \
   basis = c def-TZVP
$marij
$scfdamp     start=0.700 step=0.050 min=0.100
$operating system    unix
$closed shells
 a       1-78                                   ( 2 )
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$forceapprox    file=forceapprox
$rundimensions
   natoms=43
   nbf(CAO)=507
   nbf(AO)=490
$actual step      force
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$restart dscf
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    22.65172274089576    y     2.29029428845858    z    -4.30478744759519    a.u.
   | dipole | =   58.8942622839  debye
$end
